//-----------------------------------------------------------------------------
// Shared
//-----------------------------------------------------------------------------

//-----------------------------------------------------------------------------
// Articles Index
//-----------------------------------------------------------------------------

//-----------------------------------------------------------------------------
// Articles Show
//-----------------------------------------------------------------------------

//-----------------------------------------------------------------------------
// Articles Form
//-----------------------------------------------------------------------------
.container {
	&__article_form {
		display:flex;
		flex-direction:row;
	}
}

.article_form {
	&__field {
		width:calc(100% / 2);
	}
}
